#mobile-logo{
    width: 40px;
}
header{
    height: 50px;
}

#navbar{
    width: 200px;
    height: calc(100vh - 50px);
    background-image: url(../img/img/sidebar-bg.png);
    background-color: rgb(5, 30, 51);
}

main{
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
}
.boolean-apps{
    background-color: #165bba;
    padding: 0 .5em;
}
section{
    margin-bottom: 2em;
}

.active-image{
    width: 100%;
}

.class-image{
    width: 30px;
    max-width: 40px;
}

.full-site{
    display: flex;
}
#bell-icon{
    color: #ff9100;
}
#question-icon{
    color: white;
}
#offcanvasExample{
    width: 75%;
    }
    
    @media screen and (max-width: 768px) {
        
        #navbar{
            width: 65px;
        }
        
        #offcanvasExample{
            width: 100%;
        }
        
        main{
            height: calc(100vh - 50px);
            width: calc(100vw - 65px);
        }

}

tbody tr th{
    background-color: #ff9100;
}