#mobile-logo{
    width: 40px;
}
header{
    height: 50px;
}

#navbar{
    width: 200px;
    height: calc(100vh - 50px);
    background-image: url(../img/img/sidebar-bg.png);
    background-color: rgb(5, 30, 51);
}

main{
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
}

section{
    margin-bottom: 2em;
}

.active-image{
    width: 100%;
}